<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coding Spree</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header>
    <h1 id="titleText">
      Ready, Set, Code .... 
    </h1>

    {{#unless logged_in}}
    <nav>
      <a href="/"><button class="btn" id="goToHome">HOMEPAGE</button></a>
      <a href="/dash"><button class="btn" id="goToDash">DASHBOARD</button></a>
      <a href="/login"><button class="btn" id="loginbtn">LOGIN</button></a>
    </nav>
    {{/unless}}

    {{#if logged_in}}
    <nav>
      <a href="/"><button class="btn" id="goToHome">HOMEPAGE</button></a>
      <a href="/dash"><button class="btn" id="goToDash">DASHBOARD</button></a>
      <button class="btn" id="logoutbtn">LOGOUT</button>
    </nav>
    {{/if}}

  </header>
  <main class="content_box">
    {{{ body }}}

  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/index.js"></script>
  
</body>

</html>
