<div class="newPost">
  <div class="postTitle">
    <h2>Edit your post!</h2>

  </div>

   <form class="edit-post">
        <div >
          <label for="post-title">Post Title:</label>
          <br />
          <input type="text" class="post-title" value="{{post.title}}"/>
        </div>
        <div>
        <label for="post-title">Post Content:</label>
        <br />
        <textarea class="post-content">{{post.content}}</textarea>
    
        </div>
        <button class="btn2 editbtn" data="{{post.id}}">
            Edit Post
        </button>
        </form>
</div>

<script src="/js/editpost.js"></script>
