<div class="newPost">
<h2 class="postTitle" >Sign Up</h2>

<form class="signup-form">
  <div >
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="username-signup">username:</label>
    <input type="username" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
    <div>
    <label for="password-check">password:</label>
    <input type="password" id="password-check" />
  </div>
  <div>
    <button class="btn2" c=type="submit">sign up</button>
  </div>
</form>
</div>

<script src="/js/signup.js"></script>
