*{
    background-color: transparent;
}

html {
    background-color: #888888;
}

.btn {
    margin-top: 7px;
    height: 80%;
    width: 85px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: plum;
    margin-right: 7px;
    
}


#titleText {
    width: 70%;
    margin-bottom: 15px;
    padding-left: 25px;
    color: plum;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 29%;
}

header {
    margin: 0;
    padding: 0;
    background-color: purple;
    height: 10vh;
    display: flex;
}

.content_box {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 25px auto;
}

.newPost {
    border: 5px solid purple;
    background-color: plum;
    width: 90%;
    margin: 10px auto;
}

.dashbox {
    font-style: bold;
    width: 90%;
    margin: 10px auto;
}

.dashHeader h2 {
    font-size: x-large;
    color: purple; 
    text-align: center;
    padding: 0;
    margin: 0;

}

.postTitle {
    text-align: center;
    font-style: oblique;
    background-color: purple;
    margin-left: 0;
    width: 45%;
    color: plum;

}

.postContent {
    margin-left: 50px;
    margin-right: 50px;
    border: 3px solid purple; 
    background-color: whitesmoke; 
    margin-bottom: 10px;
}

.commentbox {
    background-color: whitesmoke;
    width: 80%;
    height: 100px;
    margin-left: 5%;
    border: 3px solid purple; 
}

.login-form, .sign-up, .signup-form {
    margin-left: 50px; 
}


.btn2 {
    background-color: plum;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn3 {
    height: 25px;
    width: 125px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: purple;
    color: whitesmoke;
}

.create-post, .edit-post {
    margin: 10px auto; 
    width: 90%;
}

.post-title, .post-content {
    width: 100%;
    background-color: whitesmoke;
}

.post-content {
    height: 50px;
}


button:hover {
    background-color: skyblue;
 }

 .btn2:hover {
    background-color: purple;
    color: whitesmoke;
 }

 .btn3:hover {
    background-color: plum;
    color: black;
 }